connectionstrings:
  vcenter:
    hostname: REPLACE ME
    username: REPLACE ME
    password: REPLACE ME
  ipmi:
    name: REPLACE ME
    domain: REPLACE ME
    username: REPLACE ME
    password: REPLACE ME
  ldap:
    hostname: REPLACE ME
    username: REPLACE ME
    password: REPLACE ME
  storage:
    netapp: REPLACE ME
    netappusername: REPLACE ME
    netapppassword: REPLACE ME
  vcloud:
    url: REPLACE ME
    username: REPLACE ME
    password: REPLACE ME
    version: REPLACE ME
    extNets:
      NERCvSEGW: REPLACE ME
      NERCvSENet: REPLACE ME
      Net129GW: REPLACE ME
      Net129Net: REPLACE ME
      Net130GW: REPLACE ME
      Net130Net: REPLACE ME
      Dns1: REPLACE ME
      Dns2: REPLACE ME
      Suffix: REPLACE ME

configuration:
  esxi:
    name: REPLACE ME
    domain: REPLACE ME
    storageNet: REPLACE ME
    vxlanNet: REPLACE ME
  vcloud:
    url: REPLACE ME
    username: REPLACE ME
    password: REPLACE ME
    version: REPLACE ME
    extNets:
      NERCvSEGW: REPLACE ME
      NERCvSENet: REPLACE ME
      Net129GW: REPLACE ME
      Net129Net: REPLACE ME
      Net130GW: REPLACE ME
      Net130Net: REPLACE ME
      Dns1: REPLACE ME
      Dns2: REPLACE ME
      Suffix: REPLACE ME

clusters:
  cluster01:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster02:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster03:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster04:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster05:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster06:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
  cluster07:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange: 
    - REPLACE ME e.g. 300-400
    - REPLACE ME e.g. 300-400
  cluster08:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange:
    - REPLACE ME e.g. 300-400
  cluster09:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange:
    - REPLACE ME e.g. 300-400
  cluster10:
    name: REPLACE ME
    storageGW: REPLACE ME
    vxlanGW: REPLACE ME
    hostrange:
    - REPLACE ME e.g. 300-400
